:root {
  --main-purple: rgb(132, 0, 255);
  --secondary-orange: rgb(255, 132, 0);
  --tertiary-green: rgb(0, 255, 132);
  --checkbox-height: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: var(--secondary-orange) solid 5px;
}

body, button, input, select, textarea, option, optgroup, legend, fieldset, output {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  grid-template-areas: 
  'sidebar header'
  'sidebar main';
}

.text-fade {
  transition: ease-in all 0.15s;
  cursor: pointer;
}

.text-fade:hover {
  transition: ease-out all 0.15s;
  color: var(--secondary-orange);
}

/* Header */
.header {
  display: grid;
  grid-area: header;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  padding: 1rem 3rem;
  z-index: 1;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 1rem;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-self: center;
  gap: 1rem;
}

form {
  display: flex;
  flex: 1;
}

input[type = search] {
  font-size: 1.5rem;
  font-weight: 600;
  outline: var(--main-purple) solid 5px;
  border: none;
  background-color: rgb(201, 193, 255);
  height: 1rem;
  border-radius: 25px;
  padding: 1.5rem;
  flex: 1;
}

input:focus-visible {
  outline: var(--secondary-orange) solid 5px;
}

/* User Account */
.user-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.user-icons {
  width: 3rem;
  cursor: pointer;
}

.profile-icon-small {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.user-name {
  font-size: 2rem;
  font-weight: 550;
}

/* User Account Message */
.user-account-message {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-greeting {
  font-size: 1.5rem;
}

.user-profile {
  font-size: 2.5rem;
  font-weight: 500;
}

.profile-icon-big {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
}

/* Content Buttons */
.content-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.content-buttons > button {
  border: white solid 3px;
  background-color: var(--main-purple);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: ease-out all 0.25s;
}

.content-buttons > button:hover {
  border: var(--main-purple) solid 3px;
  background-color: white;
  color: var(--main-purple);
  transition: ease-in all 0.25s;
}

/* Sidebar */
.sidebar {
  display: grid;
  background-color: var(--main-purple);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
  grid-area: sidebar;
  padding: 1rem;
  grid-template-rows: auto 1fr;
  z-index: 2;
}

.sidebar > h2 {
  display: flex;
  font-size: 2rem;
  font-weight: 750;
  align-items: center;
  color: var(--secondary-orange);
  cursor: default;
}

.sidebar-divider {
  height: 2px;
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: var(--secondary-orange);
  border-radius: 1px;
}

.icons {
  width: 2.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.sidebar-buttons > button,
.lower-credits > button {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--main-purple);
  color: white;
  font-size: 1.75rem;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border-radius: 15px;
  transition: ease-out all 0.25s;
}

.sidebar-buttons > button:hover,
.lower-credits > button:hover {
  background-color: white;
  font-weight: 800;
  color: var(--main-purple);
  transition: ease-in all 0.25s;
}

.lower-credits {
  align-self: end;
}

.lower-credits > button {
  font-size: 1rem;
}

/* Main Content */
.main-content {
  display: grid;
  background-color: rgb(200, 200, 200);
  padding: 2rem 4rem 2rem 4rem;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
  'user-projects-title announcements'
  'user-projects announcements'
  'user-projects trending';
}

/* User Project Section */
.user-projects {
  grid-area: user-projects;
  margin-right: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  gap: 2rem;
}

.main-content > h2 {
  grid-area: user-projects-title;
  grid-column: 1 / -1;
  font-size: 3rem;
  margin: 10px 0 2rem 0;
}

.card {
  background-color: white;
  border-radius: 25px;
  transition: ease-out all 0.25s;
  height: 100%;
  display: grid;
}

.card:hover {
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  transition: ease-in all 0.25s;
  transform: scale(1.03);
}

.card:focus-visible {
  outline: var(--tertiary-green) solid 5px;
}

.card-main-container {
  display: grid;
  height: 100%;
  grid-template-areas: 
  'completion-color card-text'
  'completion-color card-button-wrapper';
}

.card-button-wrapper {
  display: grid;
  grid-area: card-button-wrapper;
  margin-top: 2rem;
}

.card-divider {
  justify-self: center;
  height: 2px;
  width: 90%;
  background-color: var(--secondary-orange);
  border-radius: 1px;
}

.card-task-color {
  height: 100%;
  width: 25px;
  border-radius: 25px 0 0 25px;
  background-color: var(--secondary-orange);
  transition: all ease-out 0.25s;
  grid-area: completion-color;
}

.card:has(.checkbox-wrapper-19 input:checked) 
.card-task-color,
.card:has(.checkbox-wrapper-19 input:checked) 
.card-divider {
  background-color: var(--tertiary-green);
  transition: all ease-in 0.25s;
}

.card-text {
  grid-area: card-text;
  padding: 3rem 3rem 0 3rem;
  height: 200px;
}

.card-text > h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-text > p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-buttons {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  padding: 2rem;
}

/* Checkbox design by Jimmy Gillam on https://getcssscan.com/css-checkboxes-examples */
.checkbox-wrapper-19 {
  height: 25px;
}

.checkbox-wrapper-19 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * .1) solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  transition: border-color ease 0.2s;
  cursor: pointer;
  margin: 0 20px 0 20px
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * .2);
  background-color: var(--secondary-orange);
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * .72);
  left: calc(var(--checkbox-height) * .41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
  transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * .37);
  left: calc(var(--checkbox-height) * .05);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: var(--tertiary-green);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

.card-icons {
  width: 2.5rem;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

/* User News Section */
.user-news {
  grid-area: announcements;
}

.announcement-container,
.other-users-container {
  flex: 1;
}

.announcements,
.trending {
  display: flex;
  flex-direction: column;
}

.announcement-background,
.trending-background {
  display: flex;
  flex: 1;
  background-color: white;
  border-radius: 30px;
  padding: 2rem;
}

.announcements > h2,
.trending > h2 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.announcements > h2 {
  margin-top: 2.75rem;
}

.trending > h2 {
  margin-top: 1rem;
}

.announcement-container > h3 {
  display: flex;
  align-items: center;
}

.announcement-paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
}

.other-users-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.other-users {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.other-user-profiles {
  font-size: 1.5rem;
}

.image-credits {
  text-decoration: none;
  background-color: var(--main-purple);
  border: white solid 2px;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.25s;
}

.image-credits:hover {
  background-color: white;
  border: var(--main-purple) solid 2px;
  color: var(--main-purple);
  transition: all 0.25s;
}